<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="io.sarl.eclipse.debug.ApplicationLaunchConfigType">
<booleanAttribute key="io.sarl.eclipse.EMBEDDED_SRE" value="false"/>
<booleanAttribute key="io.sarl.eclipse.ENABLE_ASSERTIONS_DEBUG" value="true"/>
<booleanAttribute key="io.sarl.eclipse.ENABLE_ASSERTIONS_RUN" value="false"/>
<stringAttribute key="io.sarl.eclipse.SARL_RUNTIME_ENVIRONMENT" value="io.janusproject.plugin.sre"/>
<booleanAttribute key="io.sarl.eclipse.USE_PROJECT_SARL_RUNTIME_ENVIRONMENT" value="false"/>
<booleanAttribute key="io.sarl.eclipse.USE_SYSTEM_SARL_RUNTIME_ENVIRONMENT" value="true"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value=""/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value=""/>
</launchConfiguration>
