<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="io.sarl.eclipse.debug.AgentLaunchConfigType">
<stringAttribute key="io.sarl.eclipse.AGENT_NAME" value="crs_sim.environment.EnvironmentAgent"/>
<booleanAttribute key="io.sarl.eclipse.EMBEDDED_SRE" value="false"/>
<booleanAttribute key="io.sarl.eclipse.ENABLE_ASSERTIONS_DEBUG" value="true"/>
<booleanAttribute key="io.sarl.eclipse.ENABLE_ASSERTIONS_RUN" value="false"/>
<stringAttribute key="io.sarl.eclipse.ROOT_CONTEXT_ID_TYPE" value="DEFAULT_CONTEXT_ID"/>
<stringAttribute key="io.sarl.eclipse.SARL_RUNTIME_ENVIRONMENT" value="io.janusproject.plugin.sre"/>
<booleanAttribute key="io.sarl.eclipse.SHOW_LOG_INFO" value="true"/>
<booleanAttribute key="io.sarl.eclipse.SRE_OFFLINE" value="true"/>
<booleanAttribute key="io.sarl.eclipse.USE_PROJECT_SARL_RUNTIME_ENVIRONMENT" value="false"/>
<booleanAttribute key="io.sarl.eclipse.USE_SYSTEM_SARL_RUNTIME_ENVIRONMENT" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/crs_sim"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="io.sarl.sre.boot.Boot"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="crs_sim"/>
</launchConfiguration>
